{
  "ConnectionStrings": {
    "DefaultConnection": "Host=YOUR_DB_HOST;Port=5432;Database=zena_db;Username=YOUR_DB_USER;Password=YOUR_STRONG_PASSWORD;TrustServerCertificate=True"
  },
  "Jwt": {
    "Key": "USE_ENVIRONMENT_VARIABLE_OR_SECRET_MANAGER",
    "Issuer": "ZenaBackend",
    "Audience": "ZenaBackend"
  },
  "Cors": {
    "AllowedOrigins": [
      "https://yourdomain.com",
      "https://www.yourdomain.com"
    ]
  },
  "FileStorage": {
    "BaseUrl": "https://yourdomain.com"
  },
  "AllowedHosts": "yourdomain.com;www.yourdomain.com",
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Error",
      "Microsoft": "Error",
      "System": "Error"
    }
  },
  "OpenTelemetry": {
    "OtlpEndpoint": "http://otel-collector:4317"
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Warning",
      "Override": {
        "Microsoft": "Error",
        "Microsoft.AspNetCore": "Error",
        "System": "Error"
      }
    },
    "Enrich": [ "FromLogContext" ],
    "WriteTo": [
      { "Name": "Console" },
      {
        "Name": "File",
        "Args": {
          "path": "logs/prod-log-.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": 30
        }
      }
    ]
  },
  "Loki": {
    "Url": "http://loki:3100",
    "Labels": {
      "app": "zena-backend",
      "env": "production"
    }
  }
}

