receivers:
  otlp:
    protocols:
      grpc:
        endpoint: otel-collector:4317

extensions:
  health_check:
    endpoint: otel-collector:13133

exporters:
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
  otlp:
    endpoint: tempo:4317
  prometheus:
    endpoint: otel-collector:8889

service:
  extensions: [health_check]
  pipelines:
    logs:
      receivers: [otlp]
      exporters: [loki]
    metrics:
      receivers: [otlp]
      exporters: [prometheus]
    traces:
      receivers: [otlp]
      exporters: [otlp]
