server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

ingester:
  lifecycler:
    ring:
      replication_factor: 1
  trace_idle_period: 10s
  max_block_duration: 5m

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo
    wal:
      path: /tmp/tempo/wal

metrics_generator:
  ring:
    kvstore:
      store: memberlist
  processor:
    service_graphs: {}
    span_metrics: {}
  storage:
    path: /tmp/tempo/generator

memberlist:
  join_members:
    - tempo
